<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/webApp.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/svg" href="~/vstu-logo.svg" />
</head>
<body>
    <div class="wrapper">

        <header>
        @if (IsSectionDefined("Header"))
        {
            @RenderSection("Header")
        }
        else 
        { 
            <nav class="navbar">
                <a class="navbar-brand" href="#">
                    <img src="~/vstu-logo.svg" width="52" height="72">
                </a>
                <a class="navbar-account" asp-area="" asp-controller="Account" asp-action="Login">
                    Личный кабинет
                </a>
            </nav>
        }
            
        </header>

        <main class="main" role="main">
            @RenderBody()
        </main>

        <footer class="py-3">
            <div>
                &copy; 2022 - WebApp
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
